* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: #FED049;
    border-bottom: 5px solid #f3c437;
    z-index: 100;
}

#logo {
    color: #ffffff;
    margin-left: 10px;
    margin-top: 8px;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 10.8vh;
    background: #CFFDE1; 
    display: flex;
    justify-content: end;
}

#entrada {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 85.5vh;
    margin: 10px 10px 0 0;
}

#texto-ingresado {
    align-self: center;
    background: #68B984; 
    border-radius: 24px;
    resize: none; 
    width: 100%;
    height: 85%;
    border: 5px solid #354a4a;
    padding: 10px;
    font-size: 1.5em;
    color: #f8f8f8;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

#texto-ingresado::placeholder {
    color: #f8f8f8;
    font-family: 'Barlow', sans-serif;
    font-weight: #354a4a;
    font-weight: 500;
}

#texto-ingresado:Focus{
    outline:none;
}

.texto-informativo {
    margin: 5px 0 5px 5px;
    color: #2b3c3c;
    font-size: .8em;
    font-family: 'Barlow', sans-serif;
}

.frame {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.boton {
    width: 49%;
    height: 50px;
    color: #f8f8f8;
    background: #354a4a;
    border: 4px solid #68B984;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    font-size: 1.2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    transition: 600ms;   
}

#btn-encriptar {
    margin-right: 2%;
}

#resultado {
    display: block;
    width: 36%;
    height: 84vh;
    background: #68B984; 
    border-radius: 24px;
    border: 5px solid #354a4a;
    padding: 10px;
    margin: 10px 10px 0 0;
}

#texto-resultado {
    min-height: 85%;
    word-wrap: break-word;
}

.texto-creado {
    font-size: 1.5em;
    color: #f8f8f8;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

#mensaje {
    display: inline-block;
    width: max-content;
}

#btn-copiar {
    display: none;
    margin-left: 25%;
    margin-top: 8px;
    border-color:  #CFFDE1;
}

.boton:hover {
    background: #FED049;
    border: 4px solid #354a4a;
    color: #2b3c3c;
    scale: 1.035;
}

#btn-copiar:hover {
    background: #FED049;
    border: 4px solid #354a4a;
    color: #2b3c3c;
    scale: 1.035;
}

footer {
    width: 100%;
    height: 10vh;
    background: #3D5656;
    border-top: 5px solid #354a4a;
}

@media screen and (max-width: 768px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        min-height: 90vh;
    }

    #entrada {
        width: 80%;
        height: 56vh;
        max-height: min-content;
        margin-top: 15px;
    }

    #resultado {
        width: 80%;
        height: auto;
        min-height: 10em;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #texto-resultado {
        height: 50%;
        word-wrap: break-word;
    }
    #btn-copiar {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 375px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        min-height: 90vh;
    }
    #entrada {
        width: 80%;
        height: auto;
        min-height: 60vh;
        max-height: min-content;
        margin-top: 15px;
    }
    #texto-ingresado {
        min-height: 47vh;
    }
    .frame {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton {
        width: 80%;
        margin-top: 10px;
        font-size: 1.2em;
        height: 40px;
    }
    #resultado {
        width: 80%;
        min-height: 20vh;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #texto-resultado {
        height: 50%;
        word-wrap: break-word;
    }
    #btn-copiar {
        width: 49%;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    #texto-ingresado, .texto-creado {
        font-size: 1.2em;
    }
}